@import "bootstrap_custom";

//Global font
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
body *{
  font-family: 'Noto Sans Japanese', sans-serif;
}

html,
body {
  height: 100%;
}


//Site wide styles.
.site-wrapper {
  width: 100%;
  height: 100%;
  hr.tmp {
    margin: 0px 0px;
    padding: 0px 0px;
    display: block;
  }
}

//intro section
section#intro {
  background-color: #ECF8FB;
  width: 100%;
  height: 100%;
  text-align: center;
  //div.v-h-centered needs to be vertically, horizontally centered with unknown height and width situation.
  //borrowd this tecnique: https://css-tricks.com/centering-in-the-unknown/
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .v-h-centered {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    img, h1 {
      width: 100%;
      margin: 0px auto;
    }
  }
}

//header
header {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  img {
    width: 40%;
  }
}

//photo section
section#galleries {
  .nav-pills {
    text-align: center;
    margin-bottom: 10px;
    img {
      width: 50%;
      margin: 0 auto;
    }
  }
  .gallery {
    .gutter-sizer {
      width: 2%;
    }
    .grid-sizer,
    img {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      cursor: pointer;
      width: 18%;
      &.regular {
        width: 36%;
      }
    }
  }
}
//Modal
.modal{
  .modal-body {
    img {
      width: 100%;
    }
  }
}

//venue info section
section#venue {
  margin-top: 30px;
  margin-bottom: 10px;
  img, p {
    display: block;
    width: 800;
    margin: 0px auto;
    text-align: center;
  }
  .info {
    margin-top: 30px;
    margin-left: -100px;
    dd {
      margin-bottom: 10px;
    }
  }
}

//footer
footer {
  margin-top: 20px;
  margin-bottom: 10px;
  img, p {
    display: block;
    width: 800;
    margin: 0px auto;
    text-align: center;
  }
}


//coming soon page.
.comingsoon {
  width: 800px;
  margin: 20px auto;
  text-align: center;
  h3 {
    margin-bottom: 30px;
  }
  .info {
    background-image: url("../images/cafe-comingsoon.png");
    background-repeat: no-repeat;
    background-position: 150px 70px;
  }
}
