<a href="https://github.com/nob/brunch-brown-rice/blob/master/README.md" class="btn btn-lg btn-default ">
  <i class="glyphicon glyphicon-book"></i>
  Learn more
</a>
<a href="https://github.com/nob/brunch-brown-rice" class="btn btn-lg btn-default">
  <i class="glyphicon glyphicon-thumbs-up"></i>
  Fork/Star On Github
</a>
