<section id="characters" style="margin: 30px auto; width:80%; text-align: center;">
  <hr style="margin: 0px 0px; border-top: 1px solid #949393;">
  <img src="/images/chr-ari-karada.jpg" alt="アリンコ" style="width: 100px;"/>
  <img src="/images/chr-neko-karada_clipped.png" alt="ねこ" style="width: 100px;"/>
  <img src="/images/chr-udon.jpg" alt="うどん" style="width: 100px;"/>
  <hr style="margin: 0px 0px; border-top: 1px solid #949393;">
</section>
<footer class="container">
  <div class="row">
    <p>illusration: <a href="http://cargocollective.com/chiechihiro">ちえちひろ</a>.</p>
  </div>
</footer>
