<header class="container-fluid">
  <img src="/images/sacchan-inu-bw.png" class="img-responsive center-block" alt="sacchan inu" />
  <img src="/images/logo-title.png" class="img-responsive center-block" alt="空十色 - ソラトイロ" />
  <p>十人十色、いろんな人が関わって、空のようにいろんな色に染まれる、そんなお店です。</p>
</header>
