<section id="intro">
  <div class="v-h-centered">
    <img src="/images/engawa-intro.jpg" class="img-responsive" alt="空十色" />
    {{!-- <h1>空十色 - ソラトイロ</h1>
    <p>十人十色、いろんな人が関わって、空のようにいろんな色に染まれる、そんなお店です。</p> --}}
  </div>
</section>
