<section id="venue" class="container">
  <img src="/images/chr-ari-karada_clipped.png" alt="" class="ari">
  <img src="/images/chr-ari-ashi_clipped.png" alt="" class="ari-ashi">
  <img src="/images/chr-neko-karada_clipped.png" alt="" class="neko">
  <img src="/images/chr-neko-shippo_clipped.png" alt="" class="neko-shippo">
  <img src="/images/chr-udon_clipped.png" alt="" class="udon">
  <div class="row">
    <div class="col-xs-6">
      <img src="/images/map_clipped.png" class="img-responsive" alt="空十色" />
    </div>
    <div class="info col-xs-6">
      <div class="vcard">
        <h4 class="fn">
          <a class="url" href="#">空十色 ソラトイロ</a>
        </h4>
        <p class="adr">
          <span class="country-name">Japan</span>
          〒<span class="postal-code">569-1142</span>
          <span class="region">大阪府 高槻市</span><span class="street-address">宮田町 1-19-14</span><br>
        </p>
        <p>
          TEL: <span class="tel">0726-68-4531</span>
        </p>
      </div>
      <h5>営業時間</h5>
      <dl class="">
        <dt>月曜日</dt>
        <dd>12:00 〜 17:00 (L.O. 16:00)</dd>
        <dt>金曜日</dt>
        <dd>12:00 〜 17:00 (L.O. 16:00)</dd>
        <dd>18:30 〜 22:30 (L.O. 22:00)</dd>
        <dt>土・日</dt>
        <dd>12:00 〜 19:00 (L.O. 18:00)</dd>
      </dl>
    </div>
  </div>
</section>
