---
_options:
  layout: app/layouts/contents_only.hbs
---
<div class="comingsoon container-fluid">
  <div class="row">
    <img src="/images/404.jpg" width="400" alt="空十色" />
    <h3>もうすぐウェブサイトもできます!!</h3>
    <div class="info">
      <h5>営業時間</h5>
      <dl class="">
        <dt>月曜日</dt>
        <dd>12:00 〜 17:00 (L.O. 16:00)</dd>
        <dt>金曜日</dt>
        <dd>12:00 〜 17:00 (L.O. 16:00)</dd>
        <dd>18:30 〜 22:30 (L.O. 22:00)</dd>
        <dt>土・日</dt>
        <dd>12:00 〜 19:00 (L.O. 18:00)</dd>
      </dl>
      <h4>空十色 ソラトイロ</h4>
      <p>
        〒569-1142 大阪府 高槻市 宮田町 1-19-14
      </p>
      <p>
        TEL: 0726-68-4531
      </p>
    </div>
  </div>
</div>
