---
_options:
  layout: app/layouts/layout.hbs
  partials:
    - app/partials/buttons.hbs
title: Starter Template
---
<h1 class="cover-heading">Have brown rice for brunch.<br/>No coffee.</h1>
<div class="lead">
  <p>Brunch skeleton for simple static pages, with Bootstrap & jQuery</p>
  <p class="lead">{{> buttons}}</p>
</div>
