---
_options:
  layout: app/layouts/layout.hbs
---
<div class="w-section sec1">
  <div class="w-container wrap">
    <div class="logo-div">
      <img width="364" src="images/sacchan-inu-bw.png" class="logo-ill" alt="そらといろ">
      <img width="358" src="images/logo-title.png" class="logo" alt="空十色">
    </div>
    <img width="368" src="images/main-img2.png" data-ix="show-interior" class="_2nd-img">
    <img width="430" src="images/main-img.png" data-ix="show-house" class="w-hidden-small w-hidden-tiny main-img">
    <img width="361" src="images/main-img.png" data-ix="show-house-2" class="w-hidden-main w-hidden-medium main-img">
    <img src="images/glass.png" data-ix="show-soda" class="w-hidden-small w-hidden-tiny _3rd-img">
    <img src="images/glass.png" data-ix="show-soda-2" class="w-hidden-main w-hidden-medium _3rd-img">
  </div>
</div>
<div class="w-section sec2">
  <div class="w-container services-cont">
    <a href="https://www.instagram.com/sora_to_iro/" data-ix="show-notice" class="w-inline-block announcement-link ig-news">
      <img src="images/lemonman-balloon_clipped_2.png" class="announcement-bubble">
      <p class="announcement-txt">
        <span class="news-caption">現在、最新情報が表示できません。<br>ここをクリックして、Instagram(sora_to_iro)をご覧ください。</span>
        <i class="icon icon-search-plus"></i>
      </p>
      <script type="application/json" class="w-json">
        { "items": [{
          "url": "images/sorry1.jpg",
          "fileName": "5659650499232756692b9856_sorry1.jpg",
          "origFileName": "sorry1.jpg",
          "width": 640,
          "height": 640,
          "size": 65396,
          "caption": "[お知らせ] こんな美味しい紅茶を淹れられるユリコ先生の紅茶教室がソラトイロで開催！12月18日夜７時から",
          "type": "image"
        }] }
      </script>
    </a>
    <div class="w-row">
      <div class="w-col w-col-7 col1">
        <div class="service-block">
          <div class="service-title event-title"><img width="100" src="images/chr-neko-tmp.png" class="neko-tmp"><img width="180" src="images/EVENT.png" class="service-title-img"><img width="78" src="images/chr-udon_clipped.png" class="udon">
          </div>
          <a href="https://www.instagram.com/sora_to_iro/" class="w-clearfix w-inline-block last-event ig-event">
            <div id="eol2" class="event-overlay event-overlay-last">
              {{!-- <div class="event-date">12月1日</div> --}}
              <i class="icon icon-search-plus"></i>
            </div>
            <img width="203" src="images/sorry1.jpg" class="event-img last">
            <p class="event-comment">
              <span class="last-event-txt event-caption">現在、最新情報が表示できません。ここをクリックして、Instagram(sora_to_iro)をご覧ください。<br></span>
            </p>
            <script type="application/json" class="w-json">
              { "group": "ig-event", "items": [{
                "url": "images/sorry1.jpg",
                "fileName": "56530889b6fca06d60735d4b_sorry1.jpg",
                "origFileName": "sorry1.jpg",
                "width": 640,
                "height": 640,
                "size": 78687,
                "caption": "この４日間の営業期間中、サンデーマーケットに出店させていただいたり大活躍中の作家さん達のご来店があったりと、店にいながら芸術の秋を感じられ贅沢な時間を過ごすことができました。",
                "type": "image"
              }] }
            </script>
          </a>
          <div class="w-row row">
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 col">
              <a href="https://www.instagram.com/sora_to_iro/" class="w-clearfix w-inline-block recent-event ig-event">
                <div id="eol2" class="event-overlay">
                  {{!-- <div class="event-date">11月20日</div> --}}
                  <i class="icon icon-search-plus"></i>
                </div>
                <img width="150" id="s1" src="images/sorry1.jpg" class="event-img past">
                <script type="application/json" class="w-json">
                  { "group": "ig-event", "items": [{
                    "url": "images/sorry1.jpg",
                    "fileName": "565965042d5436ce2ae852dc_sorry1.jpg",
                    "origFileName": "sorry1.jpg",
                    "width": 640,
                    "height": 640,
                    "size": 139233,
                    "caption": "第一回 空＋色＋紅茶 参加者の皆様に喜んでもらえて大成功でした☆ 初回から紅茶の概念が変わったと言ってもらえ、主催者冥利につきます★彡 参加していただいた皆様ありがとうございました。",
                    "type": "image"
                  }] }
                </script>
              </a>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 col">
              <a href="https://www.instagram.com/sora_to_iro/" class="w-clearfix w-inline-block recent-event ig-event">
                <div class="event-overlay">
                  {{!-- <div class="event-date">11月8日</div> --}}
                  <i class="icon icon-search-plus"></i>
                </div>
                <img width="140" src="images/sorry1.jpg" class="event-img past">
                <script type="application/json" class="w-json">
                  { "group": "ig-event", "items": [{
                    "url": "images/sorry1.jpg",
                    "fileName": "56596504868f71cd2afcd0e6_sorry1.jpg",
                    "origFileName": "sorry1.jpg",
                    "width": 640,
                    "height": 640,
                    "size": 79672,
                    "caption": "先週からひそかに店主買い付けコーナー作ってますので、ご来店の際は見てやってください。  こんな感じで食器とかも置いてますが小さいお子様のご来店、ウェルカムでございます☆",
                    "type": "image"
                  }] }
                </script>
              </a>
            </div>
            <div class="w-col w-col-4 w-col-small-4 w-col-tiny-4 col">
              <a href="https://www.instagram.com/sora_to_iro/" class="w-clearfix w-inline-block recent-event ig-event">
                <div class="event-overlay">
                  {{!-- <div class="event-date">10月15日</div> --}}
                  <i class="icon icon-search-plus"></i>
                </div><img width="150" src="images/sorry1.jpg" class="event-img past">
                <script type="application/json" class="w-json">
                  { "group": "ig-event", "items": [{
                    "url": "images/sorry1.jpg",
                    "fileName": "5659650499232756692b9855_sorry1.jpg",
                    "origFileName": "sorry1.jpg",
                    "width": 640,
                    "height": 640,
                    "size": 52554,
                    "caption": "この４日間の営業期間中、サンデーマーケットに出店させていただいたり大活躍中の作家さん達のご来店があったりと、店にいながら芸術の秋を感じられ贅沢な時間を過ごすことができました。",
                    "type": "image"
                  }] }
                </script>
              </a>
            </div>
          </div>
        </div>
        <div class="service-block zakka">
          <div class="service-title zakka-title"><img width="265" src="images/navi-zakka_clipped.png" class="service-title-img">
          </div>
          <div class="brands">
            <div class="w-row row1">
              <div class="w-col w-col-6 w-col-stack w-col-small-6">
                <a href="https://www.instagram.com/sora_to_iro/" class="w-inline-block artist-profile ig-zakka">
                  <div class="brand-title">
                    <div class="brand-title-txt"></div>
                  </div>
                  <div class="brand-item"></div>
                  <script type="application/json" class="w-json">
                    { "group": "ig-zakka", "items": [{
                      "url": "images/sorry1.jpg",
                      "fileName": "5659650499232756692b9855_sorry1.jpg",
                      "origFileName": "sorry1.jpg",
                      "width": 640,
                      "height": 640,
                      "size": 52554,
                      "caption": "",
                      "type": "image"
                    }] }
                  </script>
                </a>
              </div>
              <div class="w-col w-col-6 w-col-stack w-col-small-6">
                <a href="https://www.instagram.com/sora_to_iro/" class="w-inline-block artist-profile ig-zakka">
                  <div class="brand-title">
                    <div class="brand-title-txt"></div>
                  </div>
                  <div class="brand-item"></div>
                  <script type="application/json" class="w-json">
                    { "group": "ig-zakka", "items": [{
                      "url": "images/sorry1.jpg",
                      "fileName": "5659650499232756692b9855_sorry1.jpg",
                      "origFileName": "sorry1.jpg",
                      "width": 640,
                      "height": 640,
                      "size": 52554,
                      "caption": "",
                      "type": "image"
                    }] }
                  </script>
                </a>
              </div>
            </div>
            <div class="w-row row2">
              <div class="w-col w-col-6 w-col-stack w-col-small-6">
                <a href="https://www.instagram.com/sora_to_iro/" class="w-inline-block artist-profile ig-zakka">
                  <div class="brand-title">
                    <div class="brand-title-txt"></div>
                  </div>
                  <div class="brand-item"></div>
                  <script type="application/json" class="w-json">
                    { "group": "ig-zakka", "items": [{
                      "url": "images/sorry1.jpg",
                      "fileName": "5659650499232756692b9855_sorry1.jpg",
                      "origFileName": "sorry1.jpg",
                      "width": 640,
                      "height": 640,
                      "size": 52554,
                      "caption": "",
                      "type": "image"
                    }] }
                  </script>
                </a>
              </div>
              <div class="w-col w-col-6 w-col-stack w-col-small-6">
                <a href="https://www.instagram.com/sora_to_iro/" class="w-inline-block artist-profile ig-zakka">
                  <div class="brand-title">
                    <div class="brand-title-txt"></div>
                  </div>
                  <div class="brand-item"></div>
                  <script type="application/json" class="w-json">
                    { "group": "ig-zakka", "items": [{
                      "url": "images/sorry1.jpg",
                      "fileName": "5659650499232756692b9855_sorry1.jpg",
                      "origFileName": "sorry1.jpg",
                      "width": 640,
                      "height": 640,
                      "size": 52554,
                      "caption": "",
                      "type": "image"
                    }] }
                  </script>
                </a>
              </div>
            </div>
          </div>
          <div class="service-footer-txt">店主の心に ぐっときた、作り手の愛を感じる作品たちを、<br/>店頭にて販売しております。</div>
        </div>
      </div>
      <div class="w-col w-col-5 w-clearfix col2">
        <div class="service-block cafe">
          <div class="service-title cafe-title"><img width="288" src="images/navi-cafe_clipped.png" class="service-title-img">
          </div>
          <ul class="menu">
            <li>空+色のクリームソーダ　¥650</li>
            <li>ソフトドリンク・お酒　¥400〜</li>
            <li>おやつ　¥250〜</li>
            <li>今日のおうちごはん　¥850〜</li>
          </ul>
          <a href="https://www.instagram.com/sora_to_iro/" class="w-inline-block lunch-menu ig-lunch">
            <i class="icon icon-border icon-search-plus"></i>
            {{!-- <div class="lunch-menu-item">
              <div class="lunch-menu-title">今日(<span class="lunch-menu-date"></span>)のごはん　¥850〜
              <div class="lunch-menu-title">今日のごはん　¥850〜
              </div>
            </div> --}}
            <img width="341" src="images/sorry1.jpg" class="lunch-menu-img">
            <script type="application/json" class="w-json">
              { "items": [{
                "url": "images/sorry1.jpg",
                "fileName": "5656cd9fc8b38cef3fc377f5_sorry1.jpg",
                "origFileName": "sorry1.jpg",
                "width": 640,
                "height": 640,
                "size": 63520,
                "caption": "今日のごはん　¥850〜",
                "type": "image"
              }] }
            </script>
          </a>
          <div class="service-footer-txt">その他、お子様用のメニューやおつまみもあります。<br/>お気軽にお声かけ下さい。</div>
        </div>
        <a href="https://www.instagram.com/sora_to_iro/" target="_blank" data-ix="show-tea" class="w-inline-block to-instagram">
          <img src="images/ico-new-l.png" class="new-icon"><img width="253" src="images/insta-link.png" class="tea-img">
        </a>
      </div>
    </div>
    <div class="w-row">
      <div class="w-col w-col-8 w-hidden-small w-hidden-tiny col1"><img width="80" src="images/chr-ari-tmp.png" class="ari-tmp">
        <div class="w-clearfix service-block map"><img width="930" src="images/map-new_cropped.png" class="map-img">
        </div>
        <div class="map-desc">
          <a>行き方を詳しく</a>
        </div>
      </div>
      <div class="w-col w-col-4 col2"><img width="95" src="images/btn-budou-midori_clipped.png" class="budou">
        <div class="service-block about">
          <div class="shop-info">
            <h1>空+色 ソラトイロ</h1>
            <a href="https://goo.gl/maps/zwAyXvqTz4t" target="_blank" class="w-inline-block laddr">
              <div class="store-addr">
                <i class="icon icon-map-marker"></i>
              </i>〒<span>569-1142<br></span><span>大阪府 高槻市宮田町1-19-14</span>
                <i class="icon icon-external-link"></i>
              </div>
            </a>
            <a href="https://www.instagram.com/sora_to_iro/" class="w-inline-block w-hidden-main w-hidden-medium map-small w-lightbox">
              <i class="icon icon-search-plus icon-border"></i>
              <img width="100%" src="images/map-new_cropped.png">
              <img width="64" src="images/chr-ari-tmp.png" class="ari-tmp-s">
              <script type="application/json" class="w-json">
                { "items": [{
                  "url": "images/map-new_zoomed.png",
                  "fileName": "map-new_zoomed.png",
                  "origFileName": "map-new_zoomed.png",
                  "width": 1861,
                  "height": 1355,
                  
                  "size": 342400,
                  "type": "image",
                  "caption": "JR京都線 摂津富田駅から徒歩15分。阪急京都線 富田駅から徒歩20分。バスでお越しの場合は、JR摂津富田駅 北側にあるバスロータリー4番のりばより「宮田公民館前」下車と表示されているバスに乗車していただくと5分ほどでバス停「宮田公民館前」に到着します。そこより徒歩2分ほどの場所にソラトイロはあります。また、JR摂津富田駅近くにある、レンタサイクル「グリーンフラッグ」さんで自転車を借りてお越しいただくのもオススメです。"
                }] }
              </script>
            </a>
            <a href="tel:0726684531" class="w-inline-block">
              <div class="store-phone">
                <i class="icon icon-phone icon-1x"></i>&nbsp;
                <span>072-668-4531</span>
                <i class="icon icon-external-link"></i>
              </div>
            </a>
            <div class="w-richtext store-hours">
              <div class="open-hours">
                <h2>営業時間</h2>
                <p><strong>火・水・木 曜日 &nbsp;</strong></p>
                <p>&nbsp;&nbsp;11:00 〜 17:00 (L.O. 16:00)</p>
                <p><strong>金曜日</strong>
                </p>
                <p>&nbsp;&nbsp;12:00 〜 17:00 (L.O. 16:00)</p>
                <p>&nbsp;&nbsp;18:30 〜 22:30 (L.O. 21:30)</p>
                <p><strong>土曜日</strong></p>
                <p>&nbsp;&nbsp;12:00 〜 19:00 (L.O. 18:00)</p>
              </div>
              <div class="close-hours">
                <h2>定休日</h2>
                <p><strong>日・月 曜日</strong></p>
                <p>臨時休業を頂く日もございます。</p>
                <p>(最新情報はインスタグラムより発信)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{!-- </div><img width="305" src="images/footer-main-img.png" data-ix="show-open" class="open-img"> --}}
  </div><img width="305" src="images/open-door.png" data-ix="show-open" class="open-img">
</div>
<div class="w-section footer">
  <div class="foot-bg"></div>
  <div data-ix="show-msg" class="msg-div"><img width="295" src="images/msg-img.png" class="msg-bubble">
    <p class="msg"><strong data-new-link="true">十人十色、いろんな人が関わって</strong>
      <br><strong>空のようにいろんな色に染まれる</strong>
      <br><strong>そんなお店になりたい。</strong>
    </p>
  </div><img width="316" src="images/footer-logo-bw_clipped.png" class="footer-logo">
</div>
