---
_options:
  layout: app/layouts/layout.hbs
---
<div class="images">
  <img src="/images/cafe.jpg" alt="空十色" />
  <img src="/images/zakka.jpg" alt="空十色" />
  <img src="/images/ari-ashi.jpg" alt="空十色" />
  <img src="/images/ari-karada.jpg" alt="空十色" />
  <img src="/images/budou-midori.jpg" alt="空十色" />
  <img src="/images/budou-murasaki.jpg" alt="空十色" />
  <img src="/images/neko-karada.jpg" alt="空十色" />
  <img src="/images/neko-shippo.jpg" alt="空十色" />
  <img src="/images/udon.jpg" alt="空十色" />
  <img src="/images/hukidashi-remonman.jpg" alt="空十色" />
  <img src="/images/new.jpg" alt="空十色" />
  <img src="/images/tojiru-aka.jpg" alt="空十色" />
  <img src="/images/tojiru-kuro.jpg" alt="空十色" />
  <img src="/images/tojiru-kon.jpg" alt="空十色" />
</div>
