---
_options:
  layout: app/layouts/layout.hbs

---
<section id="galleries" class="container">
  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
      <a href="#cafe_gallery" aria-controls="cafe_gallery" role="tab" data-toggle="pill">
        <img src="/images/navi-cafe_clipped.png" class="img-responsive" alt="空十色" />
      </a>
    </li>
    <li role="presentation">
      <a href="#zakka_gallery" aria-controls="zakka_gallery" role="tab" data-toggle="pill">
        <img src="/images/navi-zakka_clipped.png" class="img-responsive" alt="空十色" />
      </a>
    </li>
  </ul>

 <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active gallery" id="cafe_gallery">
      <img src="/images/ico-new.png" alt="" id="ico-new-cafe"/>
      <div class="gutter-sizer"></div>
      <img src="/gallery/9.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/1.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/10.jpg" class="pitem regular"alt="空十色" data-toggle="modal" data-target="#myModal" id="photo-new-cafe"/>
      <img src="/gallery/3.jpg" class="pitem"  alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/11.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/12.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/2.jpg" class="pitem regular" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/13.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/14.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/15.jpg" class="pitem regular" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/16.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/5.jpg" class="pitem regular" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/17.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/18.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/19.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
    </div>
    <div role="tabpanel" class="tab-pane fade gallery" id="zakka_gallery">
      <img src="/images/ico-new.png" alt="" id="ico-new-zakka"/>
      <div class="gutter-sizer"></div>
      <img src="/gallery/6.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/7.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
      <img src="/gallery/4.jpg" class="pitem regular" alt="空十色" data-toggle="modal" data-target="#myModal" id="photo-new-zakka"/>
      <img src="/gallery/8.jpg" class="pitem" alt="空十色" data-toggle="modal" data-target="#myModal"/>
    </div>
  </div>
</section>
