---
_options:
  layout: app/layouts/layout.hbs
---
<div class="w-section">
  <h2 style="margin: 50px auto; width: 400px; text-align: center;">Soratoiro Privacy Policy</h2>
  <p style="text-align: center;">
    Soratoiro use only our own media(photos/videos) which are shot by us in our website.
    <br>
    We also respect portrait rights of individuals who is in those media.
  </p>
</div>
