---
_options:
  partials:
    - app/partials/intro.hbs
title: 空十色 - ソラトイロ
---
<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Thu Jan 28 2016 11:21:37 GMT+0000 (UTC) -->
<html data-wf-site="5652acf2cf7b139b7ffe24cf" data-wf-page="5652acf2cf7b139b7ffe24d0">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Webflow">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script type="text/javascript" src="https://use.typekit.net/ppa2zii.js"></script>
  <script type="text/javascript">
    try{Typekit.load();}catch(e){}
  </script>
  <script type="text/javascript" src="js/vendor.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
  <script src="https://use.fonticons.com/f433dbe3.js"></script>
  <style type="text/css">
    .w-lightbox-caption {
        text-overflow: clip !important;
        white-space: normal !important;
    }
  </style>
</head>
<body>
  {{!-- {{> intro}} --}}
  {{content}}
  {{!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> --}}
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
